body {
    font-family: "Roboto Mono", monospace;
    /*min-height: 400px;*/
    background-image: url("https://images4.alphacoders.com/682/thumb-1920-682961.jpg");
    background-color: #000000;
    background-attachment: fixed; 
    /*background-size: 100% 100%;*/
    background-size: 190vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
  }
  
  label {
    color: white;
    /*background-color:peachPuff;*/
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 15px;
    border-color:#059470 ;
    background: #059470;
    color: blanchedalmond;
  }
  
  h2 {
    color: #ffffff;
    font-size: 30px;
  }

  h3 {
    color: #ffffff;
    font-size: 20px;
  }

  h4 {
    color: #d63737;
    font-size: 15px;
    display: inline;
    background-color:Tan;
  }

.fundo-resultado{
  background-color:Tan;
}